/* ---------------   Variables   ----- */

// Typography
$font: avenir, sans-serif;

// Layout
$padding: 11px;

// Colors
$black: #333;
$dark-grey: #333;
$mid-grey: #666;
$mid-light-grey: #999;
$light-grey: #eee;
$white: #fff;
$background: #3a71a5;

// Grid
$max-width: 100%;
$columns: 12;
$one-third: 4;
$two-thirds: 8;
$gutter: 21px;

// Breakpoints
$tablet: 768px;
$mobile: 480px;

// Backgrounds
$header-toolbar-background: '../images/toolbar-background.jpg';
